.temporal-trend-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 32px 0;
  gap: 32px;
}
.temporal-trend-main-container {
  flex: 1;
  display: flex;
  gap: 32px;
  flex-wrap: nowrap;
}

.temporal-trend-left-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  flex-shrink: 0;
  gap: 16px;
}

/* Responsive design for smaller screens */
@media (max-width: 1200px) {
  .temporal-trend-main-container {
    flex-wrap: wrap;
  }
  
  .temporal-trend-left-container {
    max-width: 100%;
    flex-shrink: 1;
  }
}
.temporal-trend-button-wrapper {
  display: flex;
  justify-content: end;
}

.carousel-controls {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.carousel-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #ced8e5;
  background-color: #ced8e5;
  border: 1px solid #ced8e5;
  cursor: pointer;
  margin: 0 8px;
  font-size: 16px;
  padding: 0 0 2px 0;
}

.carousel-button.active {
  border: 1px solid #909090;
  color: #909090;
}

.carousel-button:hover {
  filter: brightness(90%);
}
