.homepage {
  display: flex;
  flex-flow: column nowrap;
  /* min-height: min(100vh, 995px); */
  min-height: min(100vh, 800px);
  background-color: #121E87;
}

.hero {
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.hero-text {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  padding: 2rem 6rem;
  max-width: min(60vw, 900px);
}

.hero h1 {
  max-width: min(50vw, 720px);
}

.hero img {
  height: 80vmin;
  max-height: 600px;
  padding-right: 6rem;
}

.explore {
  padding: 2rem 6rem;
  background-color: #FAF4F0;
  color: #121e87;
  text-align: left;
}
.explore h2 {
  margin: 0;
}
.explore p {
  margin: 8px 0 0;
}

@media (max-width: 1280px) {
  .hero-text {
    padding: 2rem 3rem;
  }
  .hero img {
    height: auto;
    max-width: 350px;
  }
  .explore {
    padding: 2rem 3rem;
  }
}

@media (max-width: 1000px) {
  .hero-text {
    padding: 2rem 20px;
    max-width: unset;
  }
  .hero-text h1 {
    font: normal normal normal 2rem/2.4rem "Tiempos Headline";
    max-width: unset;
  }
  .hero img {
    height: auto;
    max-width: 300px;
  }
  .explore {
    padding: 2rem 20px;
  }
}

@media (max-width: 768px) {
  .hero img {
    display: none;
  }
}
