.homepage {
  display: flex;
  flex-flow: column nowrap;
  min-height: min(100vh, 995px);
  background-color: #001a65;
}

.header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 6rem;
  height: 120px;
}

.logo img {
  width: 200px;
}

.nav {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.nav a {
  padding: 8px 0;
  margin-left: 2rem;
  font-size: 1.125rem;
  color: white;
  text-decoration: none;
}

.nav a:hover {
  color: #a3c4f3;
}

.hamburguer-menu-icon {
  display: none;
  width: 30px;
  cursor: pointer;
}

.hero {
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.hero-text {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  padding: 2rem 6rem;
  max-width: min(60vw, 900px);
}

.hero h1 {
  max-width: min(50vw, 720px);
}

.hero img {
  height: 40vmin;
  max-height: 500px;
}

.explore {
  padding: 2rem 6rem;
  background-color: #ffffff;
  color: #121e86;
  text-align: left;
}
.explore h2 {
  margin: 0;
}
.explore p {
  margin: 8px 0 0;
}

@media (max-width: 1280px) {
  .header {
    padding: 0 3rem;
  }
  .logo img {
    width: 150px;
  }
  .hero-text {
    padding: 2rem 3rem;
  }
  .explore {
    padding: 2rem 3rem;
  }
}

@media (max-width: 1000px) {
  .header {
    padding: 0 20px;
  }
  .hero-text {
    padding: 2rem 20px;
    max-width: unset;
  }
  .hero-text h1 {
    font: normal normal normal 2rem/2.4rem "Tiempos Headline";
    max-width: unset;
  }
  .explore {
    padding: 2rem 20px;
  }
}

@media (max-width: 768px) {
  .nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 100px;
    right: 0;
    width: 200px;
    z-index: 999;
    padding: 20px;
    border-radius: 4px 0 4px 0;
    background-color: #333;
    transition: right 0.3s ease-in-out;
  }

  .nav.closed {
    display: none;
  }

  .nav a {
    margin: 10px 0;
    padding: 10px 20px;
    width: 100%;
  }
  .hamburguer-menu-icon {
    display: flex;
  }

  .hero img {
    display: none;
  }
}
