.lexicon-barchart {
  max-width: 100%;
  height: auto;
  display: block;
}

.lexicon-barchart > g {
  transform: translateY(12px);
}

.legend > rect {
  fill: white;
  stroke: #cccccc;
  stroke-width: 1px;
}

.barchart-label {
  fill: #464646;
  font-size: 14px;
}
.legend-label {
  font-size: 1rem;
  fill: #4a5568;
}

.barchart-keyness {
  font-size: 14px;
  fill: #464646;
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
  .barchart-label {
    font-size: 12px;
  }
  
  .legend-label {
    font-size: 0.875rem;
  }
}
