.lexicon-barchart > g {
  transform: translateY(12px);
}

.legend > rect {
  fill: white;
  stroke: #cccccc;
  stroke-width: 1px;
}

.barchart-label {
  fill: #464646;
}
.legend-label {
  font-size: 1rem;
  fill: #4a5568;
}

.barchart-keyness {
  font-size: 14px;
  fill: #464646;
}
