@font-face {
  font-family: "Larsseit";
  src: local("Larsseit"), url(./fonts/Larsseit.woff2) format("woff2");
}

@font-face {
  font-family: "Tiempos Headline";
  src: local("Tiempos Headline"),
    url(./fonts/TiemposHeadlineWeb-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Tiempos Text";
  src: local("Tiempos Text"),
    url(./fonts/TiemposTextWeb-Regular.woff) format("woff2");
}


body {
  margin: 0;
  font-family: "Larsseit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #001a65; */
}

h1,
h2,
h3,
h4 {
  text-align: left;
  opacity: 1;
  padding: 0;
  margin: 0;
}
h1 {
  font: normal normal normal 2.6rem/3.12rem "Tiempos Headline";
  letter-spacing: 0.5px;
}
h2 {
  font: normal normal normal 1.8rem/2.16rem "Tiempos Headline";
}
h3 {
  font: normal normal normal 1.375rem/1.375rem Larsseit;
}
h4 {
  font: normal normal normal 1.25rem/1.75rem Larsseit;
}

p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.33rem;
}

.content {
  max-width: 1280px;
}

.no-underline {
  text-decoration: none;
}
.anchor-target {
  scroll-margin-top: 100px;
}

/* Filters */
.filter-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}
.filter-field-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 250px;
}
.filter-field-container > span {
  margin-left: 1px;
  color: #464646;
}

/* Buttons */
.button {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border: 0px;
  gap: 8px;
  border-radius: 4px;
  background-color: #ced8e5;
  cursor: pointer;
}
.button:hover {
  filter: brightness(90%);
}
.button > span {
  color: #464646;
  font-weight: 500;
}
.button > img {
  height: 20px;
}

@media (max-width: 1280px) {
  .content {
    padding: 0 20px;
  }
}
