@font-face {
  font-family: 'Larsseit';
  src: local('Larsseit'), url(./fonts/Larsseit.woff2) format('woff2');
}

@font-face {
  font-family: 'Tiempos Headline';
  src: local('Tiempos Headline'), url(./fonts/TiemposHeadlineWeb-Regular.woff2) format('woff2');
}

body {
  margin: 0;
  font-family: 'Larsseit Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #001a65;
}

h1, h2, h3, h4 {
  text-align: left;
  opacity: 1;
  padding: 0;
  margin: 0;
}
h1 {
  font: normal normal normal 2.6rem/3.12rem "Tiempos Headline";
  letter-spacing: 0.5px;
}
h2 {
  font: normal normal normal 1.8rem/2.16rem "Tiempos Headline";
}
h3 {
  font: normal normal normal 1.375rem/1.375rem Larsseit;
}
h4 {
  font: normal normal normal 1rem/1rem Larsseit;
}

p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.33rem;
}

.content {
  max-width: 1280px;
}

@media (max-width: 1280px) {
  .content {
    padding: 0 20px;
  }
}