@font-face {
  font-family: 'Larsseit';
  src: local('Larsseit'), url(./fonts/Larsseit.woff2) format('woff2');
}

@font-face {
  font-family: 'Tiempos Headline';
  src: local('Tiempos Headline'), url(./fonts/TiemposHeadlineWeb-Regular.woff2) format('woff2');
}

body {
  margin: 0;
  font-family: 'Larsseit Light', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  text-align: left;
  font: normal normal normal 22px/22px Larsseit;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
  padding: 0;
  margin: 0;
}

.content {
  max-width: 1280px;
}

@media (max-width: 1280px) {
  .content {
    padding: 0 20px;
  }
}