.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #001a65;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 6rem;
  height: 80px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.header.non-sticky {
  position: static;
  box-shadow: none;
}

.logo img {
  width: 120px;
}

.nav {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.nav a {
  padding: 8px 0;
  margin-left: 2rem;
  font-size: 1.125rem;
  color: white;
  text-decoration: none;
}

.nav a:hover {
  color: #a3c4f3;
}

.hamburguer-menu-icon {
  display: none;
  width: 30px;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .header {
    padding: 0 3rem;
  }
}

@media (max-width: 1000px) {
  .header {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 100px;
    right: 0;
    width: 200px;
    z-index: 999;
    padding: 20px;
    border-radius: 4px 0 4px 0;
    background-color: #333;
    transition: right 0.3s ease-in-out;
  }

  .nav.closed {
    display: none;
  }

  .nav a {
    margin: 10px 0;
    padding: 10px 20px;
    width: 100%;
  }
  .hamburguer-menu-icon {
    display: flex;
  }
}
