/* Section.css */
.section-content {
  display: flex;
  justify-content: center;
  background-color: #e5f0ff;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 0.4s ease-out opacity 0.4s ease-out;
}

.section-content.open {
  height: auto;
  opacity: 1;
}

.section-content.closed {
  height: 0;
  opacity: 0;
}
