.mapview-histogram > g {
  transform: translateY(12px);
}

g.histogram-bar-na > text {
  fill: #909090;
}

.histogram-label {
  text-anchor: middle;
  fill: #464646;
}

.histogram-label-sub {
  font-size: 14px;
  fill: #808080;
}

.histogram-hover-label { 
  text-anchor: middle;
  fill: #464646;
  font-weight: bold;
}

.histogram-bar-xrange-bg {
  fill: #e5f0ff;
}