g.x-grid-ticks text,
g.y-grid-ticks text {
  font-size: 0.875rem;
  fill: #909090;
}

g.x-grid-ticks line,
g.y-grid-ticks line {
  stroke: #b1b1b1;
}

g.barchart-bar-na > text {
  fill: #909090;
}

.barchart-label {
  text-anchor: middle;
  font-size: 0.875rem;
}
