.mapview-content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 5vw;
}

.mapview-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  min-width: 500px;
  gap: 16px;
}

/* MAP CONTAINER */
.mapview-map-container {
  display: flex;
  flex: 1;
  justify-content: center;
  min-height: 300px;
}

.report-button-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: auto;
}

.mapview-instructions-wrapper {
  flex-shrink: 0;
}

@media (max-width: 720px) {
  .mapview-content {
    gap: 0;
  }
  .mapview-section {
    min-width: 350px;
    gap: 12px;
    padding: 24px 0;
  }
}

@media (max-width: 768px) {
  .map-container {
    width: 100%;
    height: auto;
  }
  .mapview-map-container {
    min-height: 250px;
  }
}
