.svg-map-wrapper {
	display: flex;
	flex: 1;
	justify-content: center;
}

.svg-map {
	width: 80%;
}

.svg-map path:hover {
	filter: brightness(95%);
}

.svg-map-instructions {
	position: absolute;
	bottom: 2vh;
	left: 20px;
	width: 210px;
	font-size: 12px;
}

@media (max-width: 600px) {
	.svg-map-instructions {
		bottom: 0px;
		left: 0px;
		width: 100px;
	}
}