.tooltip-box {
    position: fixed;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: white;
    border-radius: 2px;
    z-index: 2;
}

.tooltip-title {
    font-weight: bold;
    margin-bottom: 12px;
}

.tooltip-data {
    font-size: 14px;
}